
<%= form_for @stock, :validate => true do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
		<th>Stock Symbol</th>
		<th>Stock Purchase Price</th>
		<th>Quantity Purchased</th>
	</tr>

	<tr>
		<% if params[:action] == 'edit' %>
			<td style='border: none'><%= @stock.symbol %></td>
		<% else %>
			<td class='noborder'><%= f.text_field :symbol %></td>
		<% end %>				
	 	<td class='noborder'><%= f.text_field :price %></td>	  
	  	<td class='noborder'><%= f.number_field :quantity %></td>
	  	<td class='noborder'><div class='actions'><%= f.submit %></div></td>
	  	<!-- % if (@stock.errors.count == 0) && (params[:action] != 'edit') % -->
	  		<td class='noborder'><div id='cancel' class='actions'><%= link_to 'Cancel', stocks_path, :remote => true %></div></td>
		<!-- % end % -->
		
	</tr>
</table>


<% end %>
