<!DOCTYPE html>

<html>
  <head>
    <title>PMA-2</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

  	<%= yield :scripts %>
	    
  </head>
  <body>
    <div id="container">
      <div id="user_header">
        <% if current_user %>
          Logged in as <b><font color="#D1A319"><%= current_user.email %></font></b>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
        	<% if current_page?(signup_path)  %>
        		<%= link_to "Back", root_path %>	
          	<% else %>
          		<%= link_to "Sign Up", signup_path %> 
        	<% end %>
       	<% end %> 	
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
      
    </div>
  </body>
</html>
